<!DOCTYPE html>
<html>
  <head>
    <title>Diskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      window.createguildicon = "<%= image_url("create-guild.png") %>"
      window.joinguildicon = "<%= image_url("join-guild.png") %>"
      window.welcomeleft = "<%= image_url("channel-welcome-left.png") %>"
      window.welcomeright = "<%= image_url("channel-welcome-right.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
