<!DOCTYPE html>
<html>
  <head>
    <title>Diskord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      // logos
      window.guildLogo = "<%= image_url("logo.png") %>"
      window.diskordLogo = "<%= image_url("splash/white-transparent-logo.svg") %>"
      window.githubLogo = "<%= image_url("splash/github-logo.png") %>"
      window.linkedinLogo = "<%= image_url("splash/linkedin.svg") %>"
      window.angellistLogo = "<%= image_url("splash/angellist.png") %>"

      // splash images
      window.x = "<%= image_url("splash/x.svg") %>"
      window.triangle = "<%= image_url("splash/triangle.svg") %>"
      window.square = "<%= image_url("splash/square.svg") %>"
      window.dot = "<%= image_url("splash/filled-dot.svg") %>"
      window.flask = "<%= image_url("splash/spawner-potion.svg") %>"
      window.android = "<%= image_url("splash/android.svg") %>"
      window.bomb = "<%= image_url("splash/bomb.svg") %>"
      window.monitor = "<%= image_url("splash/monitor.svg") %>"
      window.coin = "<%= image_url("splash/coin.svg") %>"
      window.iphone = "<%= image_url("splash/iphone.svg") %>"
      window.controller = "<%= image_url("splash/game-controller.svg") %>"
      window.cartridge = "<%= image_url("splash/game-cartridge.svg") %>"
      window.laptop = "<%= image_url("splash/laptop.svg") %>"
      window.headphones = "<%= image_url("splash/headphones.svg") %>"
      window.shield = "<%= image_url("splash/shield.svg") %>"


      // create or join guild modal
      window.createguildicon = "<%= image_url("create-guild.png") %>"
      window.joinguildicon = "<%= image_url("join-guild.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
